doctype html 
html(lang="en",ng-app='newAds')
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-animate.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body(ng-controller='NewAdsCtrl')
    block content
